<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>

    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- daisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="logout-container flex justify-end p-5">
        <a href="/logout" class="btn btn-error">Logout</a>
    </div>
    
    <main class="flex flex-col items-center">
        <div class="mb-5">
            <h1 class="text-5xl text-center">
                Book Tracker
            </h1>
            <h2 class="text-center text-2xl mt-6">Sup <%= user.userName %>, these are your books. You have <%= booksToRead %> books left to read</h2>
        </div>
        
        <div class="container flex justify-center mb-6">
            <form action="/books/addBook" method="post">

                    <input type="text" placeholder="Enter Book Title" name="bookTitle" id="title" class="input input-bordered input-accent max-w-xs mr-5">
   
                    <input type="text" placeholder="Enter Book Author" name="bookAuthor" id="author" class="input input-bordered input-accent max-w-xs mr-5">
                        
                    <button id="submit-btn" type="submit" class="btn btn-accent">Submit</button>

            </form>
        </div>
        
        <div class="card-container justify-center">
            <% totalBooks.forEach(element => { %>
            <div class="card w-96 bg-base-100 shadow-xl image-full card-content m-6 <%= element.read === true ? 'border border-green-500': 'border'%>">
                <!-- if i get the books covers they should go here -->
                <!-- <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure> -->
                <div class="card-body" data-id="<%=element._id%>">
                  <h2 class="card-title"><%= element.bookTitle %></h2>
                  <p><%= element.bookAuthor %></p>
                  <div class="card-actions justify-end btns-update">
                    <!-- this will always be there -->
                    <button class="delete btn btn-outline btn-error">
                        Delete
                    </button>

                    <!-- if it is read, then dont hide it -->
                    <button class="unread btn btn-outline btn-warning <%=element.read === false ? 'hidden' : 'notHidden' %>">
                        UNREAD
                    </button>

                    <!-- if it is read then hide it -->
                    <button class="read btn btn-outline btn-success <%=element.read === true ? 'hidden' : 'notHidden' %>">
                        READ
                    </button>
                  </div>
                </div>
            </div>
            <% }) %>
        </div>
        
    </main>

    <script src="js/script.js"></script>
</body>
</html>