<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <div class="container header blue-text lighten-3">
            <h1>
                Books
            </h1>
        </div>
        
        <div class="container">
            <form action="/books/addBook" method="post">
                <div class="row">
                    <input type="text" placeholder="Enter Book Title" name="bookTitle" id="title">
   
                    <input type="text" placeholder="Enter Book Author" name="bookAuthor" id="author">
                        
                    <button id="submit-btn" type="submit" class="center white-text blue btn">Submit</button>
                </div>
            </form>
        </div>
        

        <div class="container">
            <!-- <ul>
                <% totalBooks.forEach((element) => { %>
                    <li>
                        <span><%= element.bookTitle %></span>
                        <span><%= element.bookAuthor %></span>
                        <button class="read">
                            <i class="tiny fa fa-check"></i>
                        </button>
                        <button class="delete">
                            <i class="tiny fa fa-times"></i>
                        </button>
                    </li>
                <% }) %>
            </ul> -->

            <div class="row">
                <% totalBooks.forEach(element => { %>
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://picsum.photos/300/300" alt="">
                            </div>
                        
                            <div class="card-content <%= element.read === true ? 'green lighten-4' : 'white'%>" data-id="<%=element._id%>">
                                <span class="card-title"><%= element.bookTitle %></span>
                                <span><%= element.bookAuthor %></span>
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                            <div class="card-action btns-update">
                                <button class="delete red btn-small">
                                    <i class="tiny fa fa-times left"></i>DELETE
                                </button>
                                <button class="unread lime btn-small <%=element.read === false ? 'hidden' : 'notHidden' %>">
                                    <i class="tiny fa-solid fa-arrow-rotate-right left"></i>UNREAD
                                </button>
                                <button class="read green btn-small <%=element.read === true ? 'hidden' : 'notHidden' %>">
                                    <i class="tiny fa fa-check left"></i>READ
                                </button>
                            </div>
                    </div>
                </div>
                <% }) %>
            </div>
            
        </div>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="js/script.js"></script>
</body>
</html>